<div class="container-fluid">
	<h1 class="text-center">Course Registry</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Course Number</th>
				<th>Course Name</th>
				<th>Credits</th>
				<th>Scheduled Times</th>
				<th>Professors</th>
				<th>Mandatory</th>
				<th>Modify?</th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
				<tr style= "background-color:{{color}}55">
					<td>{{courseNumber}}</td>
					<td>{{courseName}}</td>
					<td>{{credits}}</td>
					<td>{{#each scheduledTimes}}
					{{day}} {{start}}-{{end}}<br>
					{{/each}}</td>
					<td>{{#each professors}}
					{{first}} {{last}} {{#if rating}}({{rating}} &#11088){{/if}}<br>
					{{/each}}</td>
					<td>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" disabled {{#if mandatory}}checked{{/if}}>
						</div>
					</td>
					<td>
						<div class="d-flex">
							<form class="form-horizontal" method="GET" action="/courses/edit">
								<input type="hidden" name="slug" value="{{slug}}">
								<button type="submit"><i class="fa fa-pen-to-square"></i></button>
							</form>
							<form class="form-horizontal mx-1" method="POST" action="/courses/remove">
								<input type="hidden" name="courseToRemove" value="{{slug}}">
								<button type="submit"><i class="fa fa-trash"></i></button>
							</form>
						</div>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	{{#with defaults}}
	<form class="form-horizontal" method="GET" action="/courses/schedules/credits">
			<div class="input-group mb-3">
				<label class="p-2">Generate schedules by number of credits:</label>
				<span class="input-group-text">Generate schedules with</span>
				<input type="Number" class="form-control" placeholder="(blank for {{MIN_CREDITS}} minimum)" aria-label="minCredits" name="minCredits">
				<span class="input-group-text">to</span>
				<input type="Number" class="form-control" placeholder="(blank for {{MAX_CREDITS}} maximum)" aria-label="minCredits" name="maxCredits">
				<span class="input-group-text">credits</span>
				<button type="submit" class="btn btn-outline-dark">Generate</button>
		</div>
	</form>
		<form class="form-horizontal" method="GET" action="/courses/schedules/courses">
			<div class="input-group mb-3">
				<label class="p-2">Generate schedules by number of classes:</label>
				<span class="input-group-text">Generate schedules with</span>
				<input type="Number" class="form-control" placeholder="(blank for {{NUM_COURSES}} classes)" aria-label="minCredits" name="numCourses">
				<span class="input-group-text">classes</span>
				<button type="submit" class="btn btn-outline-dark">Generate</button>
		</div>
	</form>
	{{/with}}
</div>