<div class="container-fluid">
	<h1 class="text-center">Course Registry</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Course Number</th>
				<th>Course Name</th>
				<th>Scheduled Times</th>
				<th>Professors</th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
				<tr style= "background-color:{{color}}55">
					<td>{{courseNumber}}</td>
					<td>{{courseName}}</td>
					<td>{{#each scheduledTimes}}
						{{day}} {{start}}-{{end}}<br>
					{{/each}}</td>
					<td>{{#each professors}}
						{{first}} {{last}} {{#if rating}}({{rating}} &#11088){{/if}}<br>
					{{/each}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<form class="form-horizontal" method="POST" action="/courses/remove">
	  <div class="row g-3 align-items-center p-2">
	  	<div class="col-auto">
	    	<label for="sel1">Select course to remove from registry:</label>
	  	</div>
	  	<div class="col-auto">
		    <select class="form-select" id="sel1" name="courseToRemove">
		    	<option hidden>Select Course</option>
		      {{#each courses}}
		        <option value="{{_id}}">{{courseNumber}}: {{courseName}}</option>
		      {{/each}}
		    </select>
	  	</div>
	  	<div class="col-auto">
	    	<button type="submit" class="btn btn-outline-dark">Remove</button>
	  	</div>
	  </div> 
	</form>	
</div>